<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/components.css">
    <link rel="icon" href="/assets/icons/icon.svg">
    <style>
        p{
            line-height:2rem;
        }
        .hero{
            background-image: url("{{hero}}");
            height: 65vh;
        }

        p.w{
            width: 50rem;
        }

        img{
            width: 25rem;
        }
    </style>
</head>
<body>
    <main>
        <section class="hero">
            <div class="hero-content">
              <h1>{{title}}</h1>
            </div>
          </section>
          {{#each texts as |text|}}
          <section class="container flexjcenter">
            <p class="t-center w">
                {{{text}}}
            </p>
          </section>
          {{/each}}
          <br>
          {{#if image}}
          <section class="container flexjcenter">
                <img src="{{image}}">
          </section>
          {{/if}}
          
          <br><br>
    </main>
</body>
</html>